/**
* File Name : style.css
* Version : 1.0
* Description : POSSE課題 完成版
* Since : 2023-05-07
*
* ---- Table of Contents ----
*
* 1.0 - Common
*    1.1 - カスタムプロパティ
*    1.2 - ベーススタイル
*    1.3 - 汎用スタイル
*
* 2.0 - Sections
*    2.1 - ヘッダー
*    2.2 - フッター
*    2.3 - メインビジュアル
*    2.4 - POSSEとは
*    2.5 - イベント
*    2.6 - 日常生活
*    2.7 - 公式LINE
*
* 3.0 - Animation, JavaScript Object
*    3.1 - フェードイン
*    3.2 - スライダー
*
*/

/* 1.0 - Common */
/* ============================================ */

/**
 * 1.1 - カスタムプロパティ
 *
 * https://developer.mozilla.org/ja/docs/Web/CSS/Using_CSS_custom_properties
 */

/**
 * 1.2 - ベーススタイル
 */
body {
  color: #333333;
  background-color:#ffffff;
  font-family:'Noto Sans JP';
}
/**
 * 1.3 - 汎用スタイル
 */

/* 2.0 - Sections */
/* ============================================ */

/**
 * 2.1 - ヘッダー
 */
.header{
  position: relative;
}
.header-box{
  display: flex;
  justify-content: flex-end;
}
.header-text {
  color:skyblue;
  font-weight:bold;
}
.img-logo{
  height: 27.53px;
  width:148px;
  position: absolute;
  margin: 20px;
  margin-top: 28px;
}

.header-li{
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}
.header-li li{
  padding:20px;
}
.header-img{
  margin-top: 10px;
  height: 60px;
  width:auto;
}
/**
 * 2.2 - フッター
 */
.footer{
  position: relative;
}
.footer-box{
  display: flex;
  text-align: center;
  flex-direction: column;
}
.footer-img{
  height: 15px;
  width: auto;
}
.footer-text{
   color:skyblue;
   font-size: smaller;
}
.sns{
  height: 20px;
  width:auto;
}
.footer-sns{
  display: inline-block;
}

/**
 * 2.3 - メインビジュアル
 */
.mainvisual{
  height: 100vh;
  background-image:url(../img/bg-mainvisual.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
}
.mainvisual-inner{
  display: flex;
  justify-content: center;
}
.mainvisual-head{
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 40px;
}
.mainvisual-title{
  color:deepskyblue;
  background-color:aliceblue;
  font-size: larger;
  width: 458px;
  padding: 10px;
  padding-right: 8px;
  margin-bottom: 10px;
  margin-left: 15px;
  border-radius:10px;
}
.mainvisual-lead{
  background-color:aliceblue;
  font-size: 50px;
  padding: 20px;
  font-weight: bold;
  border-radius:25px;
}
.mainvisual-scroll{
  position:absolute;
  bottom:5px;
  right: 2px;
  color:aliceblue;

  
}
.mainvisual-scroll:before{
  position:absolute;
  color:aliceblue;
  content:"●";
  font-size: 10px;
  bottom:3px;
  right: 112px;
}
/**
 * 2.4 - POSSEとは
 */
.aboutposse{
  height:100vh;
  position:relative;
  margin-top:80px;
}
.aboutposse-head{
  display:flex;
  justify-content:center;
}
.aboutposse-headmain{
  display:flex;
  flex-direction:column;
  position:absolute;
  top:30px;
}
.aboutposse-top1{
  font-size:40px;
  font-weight:bold;
  margin-bottom:10px;
}
.aboutposse-top2{
  text-align: center;
  color: cornflowerblue;
  font-weight:bold;
  margin-top:10px;
}
.aboutposse-body{
  display: flex;
  justify-content: center;
}
.aboutposse-bodymain{
  display: grid;
  grid-template-columns: 500px 540px;
  grid-template-rows: 100px 100px;
  position: absolute;
  bottom: 220px;
}
.aboutposse-text{
  margin-left:40px;
  padding-top:90px;
  font-weight: bold;
  font-size: 16px;
}
.aboutposse-img{
  width:500px;
  border-radius:20px;
  
}
/**
 * 2.5 - イベント
 */
.event{
  height:100vh;
  position:relative;
  margin-top:80px;
}
.event-head{
  display:flex;
  justify-content:center;
}
.event-headmain{
  display:flex;
  flex-direction:column;
  position:absolute;
  top:30px;
  text-align: center;
}
.event-head1{
  font-size:40px;
  font-weight:bold;
  margin-bottom:10px;
}
.event-head2{
  color: cornflowerblue;
  font-weight:bold;
  margin-top:10px;
}
.event-head3{
  margin-top:40px;
}
.event-body{
  margin-top:250px;
  display: flex;
  justify-content:center;

}
.event-bodymain{
  margin-right:10px;
  display:flex;
  flex-direction:column;
  text-align: center;

}
ul{
  padding-left: 0;
}
li{
  list-style: none;
}
.event-bodymain-2{
  color: #ffffff;
  background-color:dodgerblue;
  width: 150px;
  padding:10px;
  border-radius: 50px;
  margin-top: 15px;
  margin-left: 50px;
  font-weight: bold;
}
.event-bodymain-3{
  margin-top: 15px;
  font-size: large;
  font-weight: bold;
}
.event-body-img{
  width:250px;
  border-radius:10px;
}
/**
 * 2.6 - 日常生活
 */
.activity{
  height:200vh;
  position:relative;

}

p:nth-of-type(2){
  color: cornflowerblue;
}
p:nth-of-type(3){
  text-align: center;
}
.activity-head{
  display:flex;
  flex-direction: column;
  align-items: center;
}
p:nth-child(1){
  font-size: 40px;
  font-weight:bold;
}
.activity-head p{
  margin-bottom: 20px;
}
div p:nth-of-type(2){
  font-weight: bold;
}
.activity-head-3{
 margin-top: 20px;
}
.activity-main-1{
  background-color:azure;
  width:700px;
  height:210px;
  padding-left: 50px;
  padding-top: 28px;
  position: absolute;
  top: 100px;
}
.activity-ul-1{
  margin-top: 10px;


}
.activity-main-1 div{
  margin-top:10px;
  font-size: 13px;
}
.activity-list-1{
 display: flex;
 justify-content: center;

}
.activitymain{
  position: relative;
}
.MU-img img{
  height: 220px;
  position: absolute;
  top: 50px;
  margin-top: 18px;
  margin-left: 70px;
  border-radius: 10px;
}
h1::before{
  content:"01";
  font-size: 50px;
  font-weight: bold;
  color:cornflowerblue;
}
.activity-main-1 li:nth-of-type(-n+2)::before{
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url('./icon-check.svg');
    background-position: center;
    background-size: contain;
}
.activity-list-2{
  display:flex;
  justify-content:center ;
}
.activity-main-2{
  background-color:azure;
  width:700px;
  height:210px;
  padding-left: 330px;
  padding-top: 33px;
  position: absolute;
  top: 650px;
}
.activity-main-2 h1::before{
  content:"02";
  font-size: 50px;
  color:cornflowerblue;
  font-weight:bold;
}
.tatemoku-img img{
  height: 220px;
  position: absolute;
  top: 600px;
  left:250px;
  margin-top: 18px;
  margin-left: -10px;
  border-radius: 10px;
}
.activity-main-2 li:nth-of-type(1)::before{
  content:"";
  display:inline-block;
  width:15px;
  height:15px;
  background-image: url('./icon-check.svg');
  background-position: center;
  background-size: contain;

}
.activity-ul-2{
  padding-bottom:10px;
  padding-top: 10px;
}
.activity-main-2 div{
  font-size:13px ;
}
.activity-list-3{
  display: flex;
  justify-content: center;
}
.activity-main-3{
  background-color:azure;
  width:700px;
  height:210px;
  padding-left: 50px;
  padding-top: 28px;
  position: absolute;
  top: 980px;
}
.yokomoku-img img{
  height: 220px;
  position: absolute;
  top: 930px;
  margin-top: 18px;
  margin-left: 90px;
  border-radius: 10px;
  
}
.activity-main-3 li::before{
 content:'';
 display:inline-block;
 width:15px;
 height:15px;
 background-image:url('./icon-check.svg');
 background-position: center;
 background-size: contain;
}
.activity-main-3 h1::before{
  content:'03';
  font-size:50px;
  color:cornflowerblue;
  font-weight:bold;
}
.activity-main-3 div{
  font-size: 13px;
}
.activity-main-3{
  row-gap: 50px;
}

/**
 * 2.7 - 公式LINE
 */
.official-line{
  position:relative;
  height:40vh;
  background-image: url(../img/sp/bg-cta.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.official{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.official-line-1{
  display: flex;
  align-items: center;
  font-weight:bold;
  color:#ffffff;
  gap: 20px;
  margin-top: 30px;
}
.official-line-1 img{
  height:50px;
}
.official-line-2{
  color:#ffffff;
}
.official-line-2 p:nth-of-type(1){
  font-size: 15px;
  text-align: center;
}
.official-line-3{
  display:block;
  margin: auto;
  height:40px;
  width:200px;
  background-color:#ffffff;
  border-radius:20px;
  font-size: 13px;
  color: cornflowerblue;
  text-align: center;
  padding: 12px 0;
  font-weight: bold;
}
.official-line-3:hover{
  background-color: #0071BC;
  color:#ffffff;
  border: 2px solid #ffffff;
}
/* 3.0 - Animation, JavaScript Object */
/* ============================================ */

/**
 * 3.1 - フェードイン
 */

/**
 * 3.2 - スライダー
 */
